<%= form_with(model: gauge) do |form| %>
  <% if gauge.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(gauge.errors.count, "error") %> prohibited this gauge from being saved:</h2>

      <ul>
        <% gauge.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :begin_date, style: "display: block" %>
    <%= form.text_field :begin_date %>
  </div>

  <div>
    <%= form.label :end_date, style: "display: block" %>
    <%= form.text_field :end_date %>
  </div>

  <div>
    <%= form.label :unit, style: "display: block" %>
    <%= form.text_field :unit %>
  </div>

  <div>
    <%= form.label :time_unit, style: "display: block" %>
    <%= form.text_field :time_unit %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
