<div id="<%= dom_id gauge %>">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title text-center"><%= gauge.name %></h3>
      <h6 class="card-subtitle mb-2 text-muted text-center"><%= gauge.begin_date.strftime("%Y/%m/%d") %> - <%= gauge.end_date.strftime("%Y/%m/%d") %></h6>
      <h4 class="card-text text-center text-primary my-3"><%= gauge.total_measured %> <%= gauge.unit %></h4>
      <div class="text-center">
        <%= link_to '<button type="button" class="btn btn-secondary">Show Details</button>'.html_safe, gauge %>
      </div>
    </div>
  </div>
</div>
