<div id="<%= dom_id gauge %>">
  <p>
    <strong>Name:</strong>
    <%= gauge.name %>
  </p>

  <p>
    <strong>Begin date:</strong>
    <%= gauge.begin_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= gauge.end_date %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= gauge.unit %>
  </p>

  <p>
    <strong>Time unit:</strong>
    <%= gauge.time_unit %>
  </p>

</div>
