<h1 class="text-center mb-4"><%= @gauge.name %></h1>

<div class="table-responsive">
  <table class="table table-bordered">
    <tr>
      <td style="width: 50%"><b>Begin date:</b> <%= @gauge.begin_date.strftime("%Y/%m/%d") %></td>
      <td style="width: 50%"><b>End date:</b> <%= @gauge.end_date.strftime("%Y/%m/%d") %></td>
    </tr>
    <tr>
      <td style="width: 50%"><b>Measured unit:</b> <%= @gauge.unit %></td>
      <td style="width: 50%"><b>Time unit:</b> <%= @gauge.time_unit %></td>
    </tr>
  </table>
</div>
